/* MEDIA QUERIES */
@media (max-width: 600px) {
  .container {
    padding: 40px 15px;
  }

  .title {
    font-size: 28px;
    margin-top: 30px;
  }

  .title::before,
  .title::after {
    font-size: 36px;
  }

  .input-container {
    align-items: stretch;
    max-width: 90%;
    margin-bottom: 10px;
    padding: 15px;
  }

  .input-container .input,
  .description-input {
    margin-bottom: 10px;
    margin-right: 0;
    padding: 8px 14px;
    font-size: 14px;
  }

  .add-button {
    font-size: 14px;
    padding: 8px 14px;
  }

  .tasks-header,
  .completed-tasks-header {
    font-size: 18px;
    font-weight: 300;
    margin-top: 12px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #ff6f00;
  }

  .list,
  .completed-tasks-list {
    max-width: 95%;
  }

  .task-preview,
  .completed-task-preview {
    font-size: 14px;
    flex-wrap: wrap;
  }

  .task span,
  .completed-task span {
    white-space: normal;
    max-width: 100%;
  }

  .task button,
  .completed-task button {
    padding: 6px 12px;
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
    font-size: 14px;
  }

  .task-details,
  .completed-task-details {
    padding: 12px;
    margin-top: 10px;
  }

  .task-details h4,
  .completed-task-details h4 {
    font-size: 14px;
  }

  .full-title,
  .completed-full-title {
    font-size: 12px;
  }

  .task-details p,
  .completed-task-details p {
    font-size: 12px;
    padding: 2px 0;
  }

  .log-out-btn {
    top: 15px;
    right: 15px;
    font-size: 16px;
    padding: 8px 12px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  }

  .confirm-modal-content {
    width: 80%;
    padding: 15px;
  }

  .confirm-modal-content p {
    font-size: 16px;
  }

  .confirm-btn,
  .cancel-btn {
    width: 100%;
    margin: 5px 0;
    font-size: 14px;
  }
}
